/******************** 
**** HISTORIQUE *****

16/06/2017: PBE : CANOUS-22985 - Modification du fonctionnement de l’affichage des informations de l’agence du client sur le Bouton Vert [Environnement BAM] (Appel du WS ID Agence au clic)

********************/
/* FONT */
@import url(/Vitrine/ObjCommun/DCIV2/css/v_16_1/font_v16_1.css);

.pac-container:after{
    content:none !important;
}
.pac-container{
    content:none !important;
		z-index:1060 !important;

}

/*** css général OIC ****/

#oic-btn-rond-mobile img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
	width: 40px;
    height: 40px;
}	

#oic-container * {
	font-family: "Montserrat", arial,sans serif; /* NEW : FIX PB  PAGES LIBRES ENTREPRISE*/
	color:white; /* NEW : FIX PB  PAGES LIBRES ENTREPRISE*/
    box-sizing: border-box;
}
#oic-container {
    z-index: 1050;
	color:white;
	box-sizing: border-box;	
	font-family: "Montserrat", arial,sans serif;
}

#oic-container #oic_contenu_nav{
	height: calc(100% - 35px);
    padding-bottom: 15px;
    bottom: 0px;
}

#oic-container p{
	margin: 15px 0px 15px 0px!important;
}
#oic-container p, #oic-container span, #oic-container label, #oic-container ul,#oic-container  ol,#oic-container dl, #oic-container blockquote,#oic-container  fieldset,#oic-container table {

    margin: 0 0 10px;
	text-decoration: none;
	line-height: 15px;
    font-weight: normal;
	font-family: "Montserrat", arial,sans serif;
	font-size : 12px;
	color : #FFFFFF;
	list-style: none;
	border:none;
}

/* NEW : FIX PB  PAGES LIBRES ENTREPRISE*/
#oic-container fieldset{
	padding:0px;
}

#oic-container ul{
	padding-left:0px;
}
/*Fin: NEW*/
#oic-container h2,#oic-container h1 {
	font-weight: bold;
	font-family: "Montserrat", arial,sans serif;
	font-size : 13px;
	text-decoration: none;
	border: none;
	line-height: 15px !important;
}

#oic-container h1, #oic-container h2{
	color : #FFFFFF !important;
}


#oic-container .oic-typo_menu_slider{font-size:13px;}
#oic-container .oic-typo_menu_slider_titre{font-size:16px;}
#oic-container .oic-typo_contenu_slider_titre >span{font-size:15px;}

.oic-display_none_el{display:none !important;}
.oic_espace_span{margin-left: 10px;}
.oic-MB_li:hover{cursor: pointer;}
.clearboth{clear: both;}

#oic-container a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    transition: all 200ms ease 0s;
    -webkit-transition: all 200ms ease 0s;
    -o-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    -ms-transition: all 200ms ease 0s;
}
/****** debut style bouton vert "bonjour/bonsoir" ******/

#oic-grande-bulle{
	position: absolute;
    right: 5px;
    height: 63px;
    width: 136px;
    color: white !important;
    font-size: 16px !important;
    font-weight: normal !important;
    padding-top: 16px;
    text-align: center;
    background-image: url("/Vitrine/ObjCommun/DCIV2/img/OIC/bulle_verte.png");
}
/****** fin style bouton vert "bonjour/bonsoir" ******/

/******* tous les champs des formulaires ******/
#oic-container input[type="text"], #oic-container input[type="password"] {
    font-size: 10px;
    line-height: 15px;
}
#oic-container input[type="text"], #oic-container input[type="password"], #oic-container input[type="number"], #oic-container input[type="tel"], #oic-container input[type="email"], #oic-container input[type="date"], #oic-container textarea {
    background: #ececec none repeat scroll 0 0 padding-box;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    box-shadow: 1px 2px 3px 0 #999 inset;
    color: #666;
    font-family: "Montserrat",sans-serif;
    font-size: 10px;
    height: 30px;
    line-height: 1.5;
    min-height: 12px;
    padding: 3px 7px;
    width: 100%;
	overflow-y:auto;
	text-transform:none !important;
	
}
#oic-container input[type=text].not-empty:invalid, 
#oic-container input[type=password].not-empty:invalid, 
#oic-container input[type=number].not-empty:invalid, 
#oic-container input[type=tel].not-empty:invalid, 
#oic-container input[type=email].not-empty:invalid, 
#oic-container input[type=date].not-empty:invalid, 
#oic-container textarea.not-empty:invalid, 
#oic-container input[type=text].user-error, 
#oic-container input[type=password].user-error, 
#oic-container input[type=number].user-error, 
#oic-container input[type=tel].user-error, 
#oic-container input[type=email].user-error, 
#oic-container input[type=date].user-error, 
#oic-container textarea.user-error {
    border-color: #fe0003;
}
#oic-container button, #oic-container input, #oic-container optgroup, #oic-container select, #oic-container textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
#oic-container button, #oic-container html input[type="button"], #oic-container input[type="reset"], #oic-container input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
#oic-container .button-normal-submit {
    position: relative;
    display: inline-block;
    width: auto;
    min-width: 140px;
    padding: 5px 15px;
	margin: 5px 20px;
    font-size: 11px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    line-height: 1.63636364em;
    text-decoration: none;
/*     text-transform: uppercase;
 */    text-align: center;
    border: none;
    cursor: pointer;
    color: #FFF;
    border-radius: .5em;
    background-clip: padding-box;
    -webkit-box-shadow: .1em .15em .15em rgba(0,0,0,0.5);
    box-shadow: .1em .15em .15em rgba(0,0,0,0.5);
    transition: 200ms;
    background-color: #86ce00;
    background-image: -webkit-gradient(linear,left top,left top,color-stop(0,#86ce00),color-stop(100% #548200));
    background-image: -webkit-linear-gradient(left,#86ce00 0,#548200 100%);
    background-image: -moz-linear-gradient(left,#86ce00 0,#548200 100%);
    background-image: -ms-linear-gradient(left,#86ce00 0,#548200 100%);
    background-image: -o-linear-gradient(left,#86ce00 0,#548200 100%);
    background-image: linear-gradient(left,#86ce00 0,#548200 100%);
    background-size: 200%;
}
#oic-container input, #oic-container select {
    vertical-align: middle;
}
#oic-container input, #oic-container select {
    vertical-align: middle;
}

#oic-container #oic-container p,
#oic-container  #oic-container .p, 
#oic-container #oic-container ul,
#oic-container  #oic-container ol,
#oic-container  #oic-container dl,
#oic-container  #oic-container blockquote, 
#oic-container #oic-container fieldset,
#oic-container  #oic-container table ,
#oic-container  #oic-container h2,
#oic-container  #oic-container h1{
    line-height: 15px;
    margin: 5px 0;
}


#oic-container label, #oic-container legend , #oic-container textarea{
    display: inline-block;
    font-size: 12px;
    line-height: 1.63636;
	color: #666 !important;
    margin: 5px;
    text-transform: none;
}
#oic-container .oic_mail_agence_choix_li  label{
    font-size: 12px !important;
    color: #FFFFFF !important;
	margin: 0 !important;
}
#oic-container  input[type="checkbox"], #oic-container input[type="radio"] {
   display: none;
}
#oic-container  input[type="checkbox"], #oic-container input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
#oic-container  input {
    line-height: normal;
}

#oic-container  input[type="checkbox"] + label, #oic-container input[type="radio"] + label {
    -moz-user-select: none;
    cursor: pointer;
    vertical-align: middle;
}
#oic-container  input[type="radio"] + label::before {
    background-position: 0 center;
}
#oic-container input[type="checkbox"] + label::before {
    background-position: -49px center; center;
}
#oic-container  input[type="checkbox"] + label::before, #oic-container input[type="radio"] + label::before {
    background-image: url("/Vitrine/ObjCommun/DCIV2/img/OIC/checkboxes.png");
    background-repeat: no-repeat;
    background-size: 4em 1em;
    content: " ";
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    height: 25px;
    margin: 0 7px 0 0;
    vertical-align: middle;
    width: 1em;
}


#oic-container  input[type="radio"]:checked + label::before {
    background-position: -24px center;
    content: " ";
}
#oic-container  input[type="checkbox"]:checked + label::before {
    background-position: -72px center;
    content: " ";
}
#oic-container textarea {
    display: block;
    width: 190px;
    min-height: 100px;
    margin: 0px 0 !important;
}
.oic-form-mail-error{   
	border: 1px solid red;
}
#oic-container form a {
	text-decoration:underline;
}

/****** fin champs formulaires****/

/****** btn close *****/
#oic-container_close_1, #oic-container_close_2{
     z-index: 1051; 
/* 	display:inline;
 */	top:5px;
	right:5px;
	min-height:25px;
	margin :0px;
	height:35px;
	width:100%;
}

#oic-container_close_1 span, #oic-container_close_2 span{
	position:absolute;
	float: right;
    font-size: 22px;
    height: 25px;
    margin: 5px 0;
    width: 25px;
	right:0px;
}

.oic-btn_close_contact{
	padding-right: 10px;
	text-align: right;
	font-size: 1.3rem
}

.oic-btn_close_contact:hover{cursor: pointer;}

.oic-container_close {margin-bottom: 0px;}

/***** fin btn close ****/
.oic-menu_btn_vert_li{
	cursor:pointer;
	height: 40px; 
	width: 40px; 
	padding: 0px;
}
.oic-contenu_btn_vert_li{
	height: 40px; 
	padding: 8px 0px 2px 7px;
}

#oic-ul_menu_Slider_btn_vert li{margin: 15px 0 15px 0;}

/* #oic-ul_contenu_Slider_btn_vert{margin: 62% 0px 0px 0px !important;}
 */
 #oic-ul_contenu_Slider_btn_vert{
	height:370px;
	position:relative;
	top:50%;
	-ms-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	transform:translateY(-50%);
 }
#oic-ul_contenu_Slider_btn_vert li{margin: 15px 0 0px 0;}
.oic-typo_contenu_slider span:hover{cursor:pointer} 
#oic-bulle-verte,#oic-bulle-verte-close{margin: 10px 0px 50px 0px !important; right:0; }
#oic-container .oic-li_First_btn_vert_contenu{margin:10px 0px 50px 0px !important; right:0;}

#oic-container #oic-tel_contact {
	background:url("/Vitrine/ObjCommun/DCIV2/img/OIC/bandeau_telephone-01.png") no-repeat; 
	height:40px;
	background-position:0px 0px;
}
#oic-container #oic-tel_chat {
	background:url("/Vitrine/ObjCommun/DCIV2/img/OIC/bandeau_discution-01.png") no-repeat; 
	height:40px;
	background-position: 0px 0px;
}
#oic-container #oic-rdv_contact {
	background:url("/Vitrine/ObjCommun/DCIV2/img/OIC/bandeau_calendrier-01.png") no-repeat; 
	height:40px;
	background-position: 0px 0px;
}
#oic-container #oic-mail_contact {
	background:url("/Vitrine/ObjCommun/DCIV2/img/OIC/bandeau_mail-01.png") no-repeat; 
	height:40px;
	background-position: 0px 0px;
}
#oic-container #oic-sos_contact {
	background:url("/Vitrine/ObjCommun/DCIV2/img/OIC/bandeau_sos-01.png") no-repeat; 
	height:40px;
	background-position: 0px 0px;
}



/* #oic-container #oic-menu_Slider_btn_vert, #oic-contenu_Slider_btn_vert {
	 padding:1px 0; 
} */


#oic-container #oic-menu_Slider_btn_vert  {
 	top:0px;
	height:100%;
	position: relative;
    float: left;
    width: 40px;
    box-sizing: border-box;
	margin-top: 0%;
	
}

#oic-container #oic-main_Slider_btn_vert {
	background-color: rgba(0, 0, 0, 0.9);
	margin:auto;
	float: left;
	overflow-x: hidden;
 	position: relative;
	width:260px;
	height:100%;
}

#oic-container .oic_black_background {
	background-color: rgba(0, 0, 0, 0.9);
}

#oic-container #oic-ul_menu_Slider_btn_vert{
	padding-top:1px;
	height:370px;
	position:relative;
	top:50%;
	-ms-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	transform:translateY(-50%);
}

#oic-container #oic-contenu_Slider_btn_vert {
background-color: rgba(0, 0, 0, 0.9);
	position: relative;
	bottom:0px;
	width:100%;
 	height:100%;
 	float: left;
    width: 260px;
    box-sizing: border-box;
	overflow:hidden !important;
	font-weight:400;
}
#oic-container ul#oic_ul_titre_chat {
    width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
}
#oic-container #oic_ul_titre_chat>li {
    display: table-cell;
    text-align: center;
    border:pink 1px;
    vertical-align: middle;
}

#oic-container .oic_picto_titre_chat{
	background:url("/Vitrine/ObjCommun/DCIV2/img/OIC/bandeau_mail-01.png") no-repeat; 
	height:40px;
	background-position: 0px 0px;
}
#oic-container .oic_text_titre_top_main_slider{font-size: 10px;}

#oic_canaux{
	overflow-x: hidden;
    overflow-y: auto;
	height: calc(100% - 35px);
	float:left;
	position:relative;
	width: 100%;
}
#oic-container #oic_mail, #oic-container #oic_chat, #oic-container #oic_wcb, #oic-container #oic_rdv, #oic-container #oic_sos{
    bottom: 0px;
	width: 225px;
	display: block;
	height:100%;
	margin: 0 auto;
}

#oic-container .oic_mail_titre_h1{
}

#oic-container #oic_mail_ul_titre, #oic-container #oic_wcb_ul_titre, #oic-container #oic_rdv_ul_titre , #oic-container #oic_sos_ul_titre{
    table-layout: fixed;
    border-collapse: collapse;
	 margin: 0 0 5px;
	font-weight: bold;
	display: block;
    float: left;
    position: relative;
}
#oic-container #oic_mail_ul_titre .oic_mail_li_titre_img, #oic-container #oic_wcb_ul_titre .oic_wcb_li_titre_img, 
#oic-container #oic_rdv_ul_titre .oic_rdv_li_titre_img, #oic-container #oic_sos_ul_titre .oic_sos_li_titre_img{
	width: 30px; 
}
#oic-container #oic_mail_ul_titre .oic_mail_li_titre, #oic-container #oic_wcb_ul_titre .oic_wcb_li_titre, 
#oic-container #oic_rdv_ul_titre .oic_rdv_li_titre, #oic-container #oic_sos_ul_titre .oic_sos_li_titre{
	width: 155px; 
	font-size: 15px
}

#oic-container #oic_mail_ul_titre > li, #oic-container #oic_wcb_ul_titre > li , 
#oic-container #oic_rdv_ul_titre > li, #oic-container #oic_sos_ul_titre > li {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
	line-height: 1;
	padding: 5px;
}
/* #oic-container .oic-active-contenu-mail{display:block; margin: 62% 0px 0px;}
 */
/* début apparence et composant div mail  */
#oic-container #oic_mail_client_ca, #oic-container #oic_rdv_client_ca{
	margin-top:10px;
	width:240px;
	display: block;
    float: left;
    position: relative;
}

#oic-container #oic_mail_non_client, #oic-container #oic_rdv_non_client{
	display: block;
    float: left;
    position: relative;
	margin-top:30px;
	padding: 0 0 10px 0;
}
#oic-container .oic_btn_lien{
	background-color: #7CBF02;
	text-align: center;
	border-radius: 3px;
	font-size: 11px;
	margin: 7px 0;
    padding: 8px 33px;
	font-size: 10px;
    font-weight: bold;
	float: left;
    width: auto;
	border-radius: .5em;
    background-clip: padding-box;
    -webkit-box-shadow: .1em .15em .15em rgba(0,0,0,0.5);
    box-shadow: .1em .15em .15em rgba(0,0,0,0.5);
    transition: 200ms;
    background-color: #86ce00;
    background-image: -webkit-gradient(linear,left top,left top,color-stop(0,#86ce00),color-stop(100% #6ca605));
    background-image: -webkit-linear-gradient(left,#86ce00 0,#6ca605 100%);
    background-image: -moz-linear-gradient(left,#86ce00 0,#6ca605 100%);
    background-image: -ms-linear-gradient(left,#86ce00 0,#6ca605 100%);
    background-image: -o-linear-gradient(left,#86ce00 0,#6ca605 100%);
    background-image: linear-gradient(left,#86ce00 0,#6ca605 100%);
	color: white !important;
}
/* Debut CANOUS- 22985 */
#chargement {
	transition:opacity 10s linear;
	background: url("/Vitrine/ObjCommun/DCIV2/img/OIC/ajax_loader_OIC.gif") center center no-repeat white;
	display:block;
	padding:10px;
	height:auto;
	max-width:215px;
	width:100%;
}
#oic-container #oic_contacter_votre_agence {
	display: block;
    max-width: 215px;
	width : 100%;
	float:none;
	text-transform: uppercase;
}

#oic-container #oic_wcb_bloc_tel_error404, 
#oic-container #oic_wcb_bloc_tel_errorHoraire {
	color:#000000;
	font-size:10px;
	margin: 5px auto !important;
}
/* Fin CANOUS- 22985 */


#oic-container .oic_btn_lien:hover{
	cursor: pointer;
}

#oic-container #oic-wcb_texte_indisponibilite{
    padding: 25px 10px 25px 10px;
    position: relative;
    float: left;
    border: solid 1px white;
    width: 215px;
}

#oic-container .oic_mail_li_agence  ul, #oic-container .oic_wcb_li_agence  ul, #oic-container .oic_rdv_li_agence  ul{
	width: 215px;
	height:auto;
	margin: 10px 0;
	list-style: none;
}
#oic-container .oic_mail_li_agence  ul li, #oic-container .oic_rdv_li_agence  ul li{
	cursor: pointer;
}
#oic-container .oic_mail_li_agence  ul li, #oic-container .oic_wcb_li_agence  ul li, #oic-container .oic_rdv_li_agence  ul li{
	height: auto;
    padding: 12px 8px;
	background-color: #323232;
    border-bottom: 2px solid #444444;
	display: block;
    position: relative;
    float: left;
	width: 215px;
}

#oic-container .oic_mail_li_agence  ul  .oic_mail_liste_agence_titre,#oic-container .oic_wcb_li_agence  ul  .oic_wcb_liste_agence_titre, 
#oic-container .oic_rdv_li_agence  ul  .oic_rdv_liste_agence_titre{
	background-color: #7cbf02;
	padding: 8px 8px;
	cursor: auto;
	border: none;
}
#oic-container .oic_mail_li_agence  ul  .oic_mail_liste_agence_titre span, #oic-container .oic_wcb_li_agence  ul  .oic_wcb_liste_agence_titre span, 
#oic-container .oic_rdv_li_agence  ul  .oic_rdv_liste_agence_titre span{
	font-size: 11px !important;
	margin: 0px;
}
#oic-container .oic_mail_li_agence  ul .oic_mail_li_end,#oic-container .oic_wcb_li_agence  ul .oic_wcb_li_end,#oic-container .oic_rdv_li_agence  ul .oic_rdv_li_end{
    border-bottom: transparent;
}
#oic-container .oic_mail_li_agence  ul li h2, #oic-container .oic_wcb_li_agence  ul li h2, #oic-container .oic_rdv_li_agence  ul li h2{
	color: #7cbf02 !important;
	font-size: 11px !important;
	margin: 0 0 0 30px;
	display: block;
	border: none;
}

#oic-container .oic_mail_li_agence ul li span, #oic-container .oic_wcb_li_agence ul li span, #oic-container .oic_rdv_li_agence ul li span{
	font-size: 11px;
	margin: 0 0 0 30px;
	display: block;
	word-wrap: break-word;
}

#oic-container .oic_mail_li_agence  ul li h2::before, #oic-container .oic_wcb_li_agence  ul li h2::before, #oic-container .oic_rdv_li_agence  ul li h2::before{
	background-image:url("/Vitrine/ObjCommun/DCIV2/img/OIC/localisation_blanc_30_30-01.png");
    content: " ";
    display: inline-block;
    height: 30px;
    width: 30px;
	position: absolute;
    margin: -4px 0px 0 -30px;
}

#oic-container .oic_rdv_li_end {
	cursor: default !important;
}

#oic_rdv_adresse_agence .oic_rdv_liste_agence h2{
	margin-bottom: 30px;
}

#oic-container #oic_mail_adresse_agence{
	margin: 20px 0;
}

#oic-container .oic_mail_btn_lien_autour_de_moi:hover{cursor: pointer;}
#oic-container .oic_mail_btn_lien_autour_de_moi_confirmation{
	padding:0px 0px 0px 0px;
	width: 40px;
    height: 40px;
    vertical-align: top;
}
#oic-container .oic_mail_btn_lien_autour_de_moi_confirmation:hover{cursor: pointer;}
#oic-container .oic_mail_btn_lien_Fermer, #oic-container .oic_wcb_btn_lien_Fermer, #oic-container .oic_rdv_btn_lien_Fermer{
	padding: 5px 7px;
	width: 180px;
    float: left;
    margin-top: 10px;
	color:white;
	font-weight: 400;
	margin-bottom: 10px;
	font-size: 11px;
    font-weight: bold;
}
#oic-container .oic_mail_btn_lien_Fermer:hover{cursor: pointer;}
#oic-container .oic_mail_btn_lien_goole_map{
	padding: 3px 7px 3px 7px;
	width: 100%;
    float: left;
    margin-right: 10px;
	color:white;
	font-weight: 400;
}

#oic-container .oic_mail_h2_p_btn_fermer{
	line-height: 1!important;
    margin: 10px 0px 10px 0px!important;
    font-size: 11px;
    font-weight: normal;
}
#oic-container .oic_mail_label{
	margin-top:-2px;
    font-size: 11px!important;
    font-weight: normal;
}	

#oic-container .oic_mail_submit_action_form,#oic-container .oic_wcb_submit_action_form, #oic-container .oic_rdv_submit_action_form{
    background-color: #7cbf02;
    border-radius: 3px;
    height: 25px;
    margin: 0 5px;
    padding: 1px 2px;
    width: 25px;
}


#oic-container .oic_mail_etape_affichage_4_display_none{display:none !important;}
#oic-container .oic_mail_etape_affichage_4_display_block{display:block;}

#oic-container .oic_mail_etape_affichage_5_display_none{display:none;}
#oic-container .oic_mail_etape_affichage_5_display_block{display:block;}

#oic-container .oic_mail_etape_affichage_7_display_none{display:none;}
#oic-container .oic_mail_etape_affichage_7_display_block{display:block;}


#oic-container .oic_mail_agence_choix_ul{
	width: 240px;
	height:25px;
	display: block;
	position: relative;
	float:left;
}

#oic-container .oic_mail_agence_choix_li{
	display: block;
    float: left;
    height: 22px;
    position: relative;
    width: 80px;
}
#oic-container .oic_mail_agence_choix_li > input{
height: 22px;
width: 22px;
}
#oic-container .oic_mail_agence_choix_li > input[type=radio]:checked{
background-color:#7CBF02;
color:#7CBF02;
}

#oic-container  #oic_mail_geoc_form_agence, #oic-container #oic_wcb_geoc_form_agence, #oic-container #oic_rdv_geoc_form_agence{
	float:left;
	width: 173px;
	height: 26px;
}
#oic-container #oic_sos_bloc_tel{
	margin: 40px 20px 20px 0px;
	width: 205px;
    height: auto;
    padding: 10px;
	background-color: #7CBF02;
}
#oic-container .oic_sos_tel{
	font-size: 20px !important;
	font-weight: bold !important;
    margin: 8px 8px 8px 0px;
	display:block;
}
.oic_sos_texte .oic_prix_appel_local{
	color: #7CBF02 !important;
    margin: 5px 0 !important;
    font-size: 10px;
}
#oic-container .oic_sos_texte .oic_sos_h2_titre{
	color: #7CBF02 !important;
	margin-top: 15px;
}
#oic-container .oic_sos_texte{
	width: 198px;
}
#oic-container .oic_sos_texte_vert{
	color : #7CBF02 !important;
	display: inline-block;
    margin: 5px 0 7px;
}
#oic-container .oic_mail_contour_rouge, #oic-container .oic_wcb_contour_rouge, #oic-container .oic_rdv_contour_rouge{
	border:1px solid red;
}
#oic-container #oic_mail_btn_lien_autour_de_moi, #oic-container #oic_wcb_btn_lien_autour_de_moi , #oic-container #oic_rdv_btn_lien_autour_de_moi {
	    padding: 5px 44px !important;
}            
#oic-container .oic_localisation_agence{
	Float : left;
	margin: 7px 0;
    width: 40px;
	height: margin: 15px 0;
    padding: 3px 7px;
    text-align: center;
	font-size: 13px !important;
    color: #FFFFFF !important;
}
#oic-container .oic_localisation_agence_message_erreur_display_none{display:none!important;}
#oic-container .oic_localisation_agence_message_erreur_display_block{display:block!important;}
#oic-container #oic_mail_adresser_mail_agence_form, #oic-container  #oic_wcb_motif, #oic-container  #oic_wcb_jour, 
#oic-container  #oic_wcb_horaire, #oic-container #oic_rdv_adresser_rdv_agence_form{
	color:black;
}



#oic-container #oic-map_mail, #oic-container #oic-map_wcb, #oic-container #oic-map_rdv {
        height: 277px;
        width: 215px;
		margin: 10px 0;
      }
#oic-container #oic_mail_adresser_mail_agence_form, #oic-container #oic_rdv_adresser_rdv_agence_form{
	width:208px !important;
	padding: 2px 0;
}
#oic-container .select2-container{
	z-index:9999;
	font-size: 12px !important;
}


#oic-container .select2-container--classic .select2-selection--single .select2-selection__arrow b {
	border-width: 0px;
    height: 100%;
    width: 100%;
    background-image: url("/Vitrine/ObjCommun/DCIV2/img/OIC/chevron_liste_blanc-off-15x15-gris.png");
    margin: 0;
    position: inherit;
    top: 0;
    left: -2px;
    background-repeat: no-repeat;
    background-position: center center;
}

#oic-container .select2-container--classic .select2-selection--single .select2-selection__arrow {
    border: none  !important;
    background: transparent  !important;
}

#oic-container .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
    background-image: url("/Vitrine/ObjCommun/DCIV2/img/OIC/chevron_liste_blanc-on-15x15-gris.png");
}

#oic-container .formulaire_contact input:not([type="submit"]) {
    width: 100%;
}

#oic-container .oic_form{
    margin-top: 10px;
    display: block;
    float: left;
    position: relative;
	width: 210px;
}

#oic-container .select2-selection__placeholder{
	color:#999;
}


#oic-container .select2-selection{
	margin:0 !important;
	padding: 3px;
}
.select2-container--classic .select2-selection--single .select2-selection__rendered {
	margin:0px !important;
    color: #666 !important;
	padding-top: 5px; 
}

.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #ddd !important;
}
.select2-container .select2-results__option[aria-selected=true] {
    background-color: #ddd !important;
}
.select2-container .select2-results > .select2-results__options {
    max-height: 400px !important;

}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
    color: #3d3d3d !important;
    background-color: #ccc !important;
}




#oic-container  #oic_mail_motif_form, #oic-container  #oic_rdv_motif_form{
	position : relative;
	display: block;
	float: left;
	width: 220px;
	height:auto;
	margin : 0;
	
}

#oic-container .oic_form  form{
	position : relative;
	display: block;
	float: left;
	width:208px;
	height:auto;
	background-color:#FFF;
	padding: 5px 10px 10px 7px;
	
}
#oic-container .oic_form  form div{
	position : relative;
	display: block;
	float: left;
	height:auto;
}
#oic-container .oic_form  .oic_champ_obligatoire{
	color: #666;
    font-size: 10px !important;
	text-align: right;
	position: absolute;
    right: 10px;
    top: 0px;
}

#oic-container .oic_form  img{
	margin: 7px 5px;
}

#oic-container .oic_mentions_CNIL{
	position: relative;
    display: block;
    float: left;
    height: auto;
    background-color: #FFF;
    padding: 10px;
    margin: 10px 0 10px 0;
	border: 1px solid #666;
}

#oic-container #oic_wcb .oic_mentions_CNIL{
    width: 214px;
}
#oic-container #oic_mail .oic_mentions_CNIL, #oic-container #oic_rdv .oic_mentions_CNIL{
    width: 208px;
}

#oic-container .oic_mentions_CNIL p{
	color: #666 !important;
	font-size: 10px !important;
	line-height: 15px!important
}

#oic_mail_confirm,#oic_wcb_confirm,#oic_rdv_confirm{
	position: relative;
    display: block;
    float: left;
    width: 200px;
    height: auto;
	margin-top: 30px;
}

#oic-container form .form-error, #oic-container form .form-error-bouton, #oic-container .form-error-bouton{
    margin: 0 0 5px !important;
    font-size: 10px !important;
    color: red !important;
	line-height:10px !important;
}

#oic-container input.error, #oic-container textarea.error, #oic-container span.error{
  border : 1px solid red!important;
}

#oic-container label.error {
    margin: 5px 0 5px !important;
    font-size: 10px !important;
    color: red !important;
    line-height: 10px !important;
}


#oic-container input.valid, #oic-container textarea.valid, #oic-container span.valid{
	border : 1px solid  #7CBF02 !important;
}

#oic-container .oic_active{
	background-position:-40px 0px !important;
}
#oic-container .spanHidden{
	display: none;
} 

#oic-tel_contact span, #oic-tel_chat  span, #oic-rdv_contact span, #oic-mail_contact span, #oic-sos_contact span{
   display: none; /* On masque l'infobulle. */
}
#oic-tel_contact:hover, #oic-tel_chat:hover, #oic-rdv_contact:hover, #oic-mail_contact:hover, #oic-sos_contact:hover {
   background: none; /* Correction d'un bug d'Internet Explorer. */
   z-index: 500; /* On définit une valeur pour l'ordre d'affichage. */

  /*  cursor: auto; */ /* On change le curseur par défaut par un curseur d'aide. */
}
#oic-tel_contact:hover span, #oic-tel_chat:hover span, #oic-rdv_contact:hover span , #oic-mail_contact:hover span , #oic-sos_contact:hover span {
   display: inline; /* On affiche l'infobulle. */
   position: absolute;
   white-space: nowrap; /* On change la valeur de la propriété white-space pour qu'il n'y ait pas de retour à la ligne non désiré. */
   right: 43px;
   background-color:#fff;
   color: #666;
   padding: 5px 10px;
   border: 1px solid #666;
   border-radius : 10px;
}

/* fin apparence et composant div mail  */

/* début composant chat */

#oic-container #oic_chat-texte_indisponibilite {
	width:215px;
	position:relative;
 	top:50%;
	-ms-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	transform:translateY(-50%);
}

/*********************** Canal WCB*********************************/
#oic-container #oic_wcb_ul_titre, #oic-container #oic_wcb_appelez_nous, #oic-container #oic_wcb_etre_rappelle,#oic-container #oic_wcb_geoc,#oic-container #oic_rdv_geoc,#oic_rdv_num_unique{
	margin-top:10px;
	width:240px;
	display: block;
    position: relative;
	float: left;
	padding: 5px 10px 5px 0;
}


#oic_wcb_bloc_tel {
    display:block;
    width:215px;
    height: auto;
    background-color: #FFF;
    padding: 5px;
}

#oic_wcb_li_motifs{
	padding-bottom:20px;
	margin-top:0 !important;
	width: 100%;
    padding-left: 7px;
}

#oic_wcb_bloc_tel span{
	display: block;
	color:#999;
}

#oic_wcb_bloc_tel h3 {
	background-image: none;
    background-color: #7CBF02;
    color: #FFF;
    padding: 10px;
    font-size: 12px;
    width: 215px;
    margin-left: -5px;
	margin-top: 15px;
}

#oic_wcb_bloc_tel .oic_horaire_agence{
    width: 215px;
    height: auto;
    margin: 0 0 -5px -5px;
    list-style: none;
	display: table;
}
#oic_wcb_bloc_tel .oic_horaire_agence li{
    width: 215px;
    height: auto;
	background-color: #FFF;
	border-bottom:none;
	display: table-row;
	/* text-align: center; */
}
#oic_wcb_bloc_tel .oic_horaire_agence li span{
	font-size:11px !important;
	margin: 0!important;
	display: table-cell;
    padding: 4px 8px;
}

.oic_wcb_label_horaire{
	cursor:pointer;
}

#oic_wcb_bloc_tel .oic_wcb_libelle, #oic_wcb_etre_rappelle p, #oic_rdv_num_unique p{
	color: #666 !important;
}

#oic_wcb_bloc_tel .oic_wcb_tel{
	color: #7CBF02 !important;
	font-size: 22px !important;
	font-weight:bold !important;
	margin: 0 0 5px;
	line-height: 21px;
}

#oic_wcb_bloc_tel .oic_prix_appel_local{
	color: #999 !important;
    margin: 5px 0 !important;
    font-size: 10px;
}
#oic_wcb_etre_rappelle_content, #oic_rdv_num_unique_content{
	width: 215px;
    height: auto;
	background-color: #FFF;
	display: block;
    position: relative;
    float: left;
	padding:10px;
	max-height: 2000px;
	background-image:none;
}
#oic_wcb_etre_rappelle h2, #oic_rdv_num_unique h2{
	width: 215px;
    height: auto;
	font-size: 12px !important;
	background-color: #7CBF02;
	padding:7px;
	font-weight:bold;
	margin-bottom:0px;

}

#oic_rdv_num_unique span{
	color: #7CBF02;
	font-size: 14px;
    font-weight: bold;
}
    

#oic_wcb_li_motifs a{
    float: initial !important;
	margin-top: 10px !important;
	width: 190px !important;
    position: relative;
    display: inline-block;
	
}
#oic_wcb_li_motifs .select2-selection, #oic_wcb_motif_form  .select2-selection,
#oic_rdv_li_motifs .select2-selection, #oic_rdv_motif_form  .select2-selection{
	background: #ececec none repeat scroll 0 0 padding-box;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    box-shadow: 1px 2px 3px 0 #999 inset;
    color: #666;
    font-family: "Montserrat",sans-serif;
    font-size: 10px;
    padding: 3px 7px;
    width: 100%;
}

#oic-container #oic_wcb_motif, #oic-container #oic_wcb_horaire, #oic-container #oic_wcb_jour, 
#oic-container #oic_rdv_horaire, #oic-container #oic_rdv_jour{
    width: 190px !important;
    padding: 2px;
}
#oic_wcb_li_motifs .select2-container, #oic_wcb_motif_form   .select2-container{

    margin-bottom: 10px !important;
}
#oic_wcb_motif_form   .select2-container{

    width: 190px !important;
}

#oic-container.ui-accordion{
    width: 205px !important;
}
#oic-container .oic_wcb_liste_agence .ui-accordion .ui-accordion-content,
#oic-container .oic_rdv_liste_agence .ui-accordion .ui-accordion-content {
	background-image: none;
    width: 100%;
    background-color: #f3f3f3;
    color: #777;
    font-size: 10px;
	float:left;
	border:none !important;
	padding: 0px !important;
	position:relative;
	overflow: hidden;
	margin:0px;
	height:auto;
}


#oic-container #oic_wcb_etre_rappelle .ui-accordion-content {
    float: left;
    border: none !important;
    padding: 7px !important;
    position: relative;
    overflow: hidden;
    margin: 0px;
}


#oic-container .ui-accordion .ui-accordion-content > * {
    margin: 0;
}
#oic-container .ui-accordion .ui-accordion-content a {
    color: #777;
}
#oic-container .ui-accordion .ui-accordion-icons{
	margin:0px;
	background-image:none;
	background-color: #7CBF02;
	color:#FFF;
	padding: 4px 7px;
	font-size:11px;
	font-weight: bold;
}
#oic-container .oic_wcb_liste_agence.ui-accordion .ui-accordion-icons{
	padding: 3px !important;
}
#oic-container .oic_wcb_li_agence ul  li .oic_horaire_agence,#oic-container .oic_rdv_li_agence ul  li .oic_horaire_agence{
    width: 190px !important;
    height: auto;
    margin: 0;
    list-style: none;
	display: table;
}
#oic-container .oic_wcb_li_agence ul  li .oic_horaire_agence li, #oic-container .oic_rdv_li_agence ul  li .oic_horaire_agence li{
    height: auto;
	padding: 3px 8px;
	background-color: #FFF;
	border-bottom:none;
	color:#999;
	display: table-row;
}
#oic-container .oic_wcb_li_agence ul  li .oic_horaire_agence li span, #oic-container .oic_rdv_li_agence ul  li .oic_horaire_agence li span{
	color:#999 !important;
	font-size:10px !important;
	margin: 0!important;
	display: table-cell;
    padding: 4px;
}
#oic_accordion_horaire_agence_unique{
	    margin-top: 22px;
}

#oic-container .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    position: absolute;
    float: right;
    left: auto;
}

#oic-container .oic_wcb_liste_agence .ui-accordion .ui-accordion-header .ui-accordion-header-icon,
#oic-container .oic_rdv_liste_agence .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
/*     right: 5px !important;
    top: 5px !important; */
	margin:0;
}

#oic-container  #oic_wcb_etre_rappelle .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	margin:0px;
	position:relative;
    display: block;
    width: 30px;
    height: 30px;
}

#oic-container .oic_wcb_liste_agence .ui-state-default .ui-icon-chevron-off-s,
#oic-container .oic_rdv_liste_agence .ui-state-default .ui-icon-chevron-off-s {
	position:relative;
	width:15px;
	height:15px;
    background-image: url("/Vitrine/ObjCommun/DCIV2/img/OIC/chevron_liste_blanc-off-15x15.png") !important;
}

#oic-container .oic_wcb_liste_agence .ui-state-default .ui-icon-chevron-on-s,
#oic-container .oic_rdv_liste_agence .ui-state-default .ui-icon-chevron-on-s  {
	position:relative;
	width:15px;
	height:15px;
	background-image: url("/Vitrine/ObjCommun/DCIV2/img/OIC/chevron_liste_blanc-off-15x15.png") !important;
	-ms-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
   	transform:rotate(-90deg);

}

#oic-container  .oic_accordion_form_agence .ui-state-default .ui-icon-chevron-off{
	background-image: url("/Vitrine/ObjCommun/DCIV2/img/OIC/chevron_liste_blanc-off.png") !important;
} 
#oic-container  .oic_accordion_form_agence .ui-state-default .ui-icon-chevron-on{
	-ms-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
   	transform:rotate(-90deg);
	background-image: url("/Vitrine/ObjCommun/DCIV2/img/OIC/chevron_liste_blanc-off.png") !important;
}

 .oic_horaire_agence li:nth-child(even){
	background-color: #e4feb3 !important; 
}
.oic_agence_close{
	background: #666 !important;
}

.oic_wcb_label_tel, .oic_rdv_label_tel{
	text-decoration: underline !important;
    font-size: 15px !important;
    margin-top: 3px !important;
    margin-bottom: 10px !important;
}

#oic-container .ui-corner-all, #oic-container .ui-corner-top, #oic-container .ui-corner-right, #oic-container .ui-corner-left, #oic-container .ui-corner-tl, #oic-container .ui-corner-tr {
    border-radius: 0px; 
}

#oic-container  .ui-state-active, #oic-container  .ui-widget-content .ui-state-active, #oic-container  .ui-widget-header .ui-state-active {
    font-weight: normal;
}
#oic-container  .ui-state-default, #oic-container  .ui-widget-content #oic-container  .ui-state-default, #oic-container  .ui-widget-header .ui-state-default {
    border: none;
	cursor:pointer;
}

/*********************Fin canal WCB*******************************/

#oic-btn-rond-mobile{
    position: fixed;
    z-index: 999999;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 40px;
    width: 65px;
    height: 65px;
}
/******* Partie mobile *****************/
@media (min-width: 761px){
	#oic-btn-rond-mobile{
		display: none !important;
	}
	#oic-container {
		position: fixed;
		display: block;
		height:100%;
		bottom: 0px;
		top: 0px;
		right: -260px; 
		width: 300px;
	}
	.oic-display_none_el_BV_mobile{display:block !important;} 
	.oic-display_none_el_BV{display:block !important;}
}

@media (max-width: 760px){

#oic-btn-rond-mobile{
	display: block;
}  
#oic-container {
	position: fixed !important;
	top: 0 !important;
	/* left: 0; */
	right:0 !important;
	bottom:0 !important;
	display:none;
	width: 100% !important;
    height: 100% !important;
	background-color: rgba(0, 0, 0, 0.9);
}

#oic-container #oic-contenu_Slider_btn_vert {
/* 	margin-top: 50%;
 */}
#oic-ul_contenu_Slider_btn_vert {
    margin: 0 0px 0px 0px !important;
}
#oic-container #oic-contenu_Slider_btn_vert {
    background-color: transparent;
    width: calc(100% - 40px);
}
#oic-container .oic_black_background {
    background-color: transparent ;
}

#oic-container_close_1 span, #oic-container_close_2 span {
        position: fixed;
}

#oic-container #oic_mail, #oic-container #oic_chat, #oic-container #oic_wcb, #oic-container #oic_rdv, #oic-container #oic_sos {
    margin-top:35px;
}

.oic-tel_chat{
	display:none;
}

 #oic-container #oic_chat{
	display:none;
} 

#oic-container #oic-main_Slider_btn_vert {
    background-color:transparent ;
    float: left;
    width: calc(100% - 40px); 
}
.oic-display_none_el_BV_mobile{display:none !important;}
.oic-display_none_el_BV{display:block !important;} 
}